<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1 class="graphic-hed">The hardest areas to count in Washington</h1>
        <p class="graphic-chatter">Census officials analyzed likely participation based on how many people in each area
          responded during the 2010 census and a range of more recent demographic information,
          including foreign-born populations, race, ethnicity and number of renters. The darker the
          color in the map below, the more difficult to count that area is expected to be.</p>
      </section>

      <div class="aspect-ratio-outer">

        <aside class="legend">
          <h1 class="legend-hed">Hard-to-survey score</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #B22118"></span> 30-38</li>
            <li>
              <span class="block" style="background-color: #E34D32"></span> 25-29</li>
            <li>
              <span class="block" style="background-color: #ED8A52"></span> 20-24</li>
            <li>
              <span class="block" style="background-color:#F4BD6E"></span> 15-19</li>
            <li>
              <span class="block" style="background-color: #FAE2C1"></span> 0-14</li>
          </ul>
        </aside>
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=9>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
      </div>

      <div class="caption-container">
        <div class="data-source">Source: U.S. Census Bureau</div>
        <div class="art-credit">Emily M. Eng / The Seattle Times</div>
      </div>
  </responsive-child>

  <script src="app.js"></script>
  <%= t.include("partials/_workHere.html") %>
</body>

</html>
